// Hide ad blocks
// This file uses DOM Selectors for hiding advertisments

#watch7-sidebar-ads,
#footer-ads,
.video-ads {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}
