// Define project variables
//==================================

$body_width:               140px;
$body_padding-top:         15px;
$body_padding-bot:         25px;

$color_green:              #00ca39;
$color_white:              #ffffff;
$color_red:                #d94b4b;

$animation-shadow:         0 0 0 20px rgba(0, 202, 57, 0);

$indicator_width:          20px;
$indicator_height:         $indicator_width;
$indicator_box-shadow:     0 0 0 0 rgba(0, 202, 57, 0.7);

//================================
